// App.scss //

@use './scss/partials/variables' as *;
@use './scss/partials/fonts' as *;
@use './scss/partials/header' as *;
@use './scss/partials/hero' as *;
@use './scss/partials/footer' as *;


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: "AvenirNext", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $fontcolor01;
    
    background-color: $bgcolor02;
}


.body-card {
    width: 100%;
    margin: 0;
    background-color: $bgcolor01;
}


//forms
input[type=text] {
    font-size: 14px;
    min-width: 240px;
    height: 40px;
    border: 1px solid $bordercolor01;
    border-radius: 4px;
    padding: 4px;

}


button {
    //width: 100%;
    min-width: 150px;
    height: 40px;
    background-color: $bgcolor03;
    
    color: $fontcolor02;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;

    border-radius: 4px;
    border: 0px;

    transition: background-color 0.5s;
}


button:hover {
    background-color: $bgcolor04;
    transition: background-color 0.5s;
}


// images
img.logo {
    width: 180px;
    height: 45px;
    border: 0;
}

img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $bgcolor02;
}


//label
.mainlogo {
    font-family: "ErasBoldITC";
    font-size: 36px;
}

//etc
.buffer {
    height: 80px;
}