<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello!game</title>

    <link rel="stylesheet" href="./App.css">
</head>
<body>

    <div class="body-card">
        
        <!-- HEADER -->
        <header class="header-card">

            <div class="header-card__aside">
                <!-- LOGO -->
                <div class="header-card__image">
                    <a href="./index.html">
                        <img class="logo" alt="hello!game" src="./assets/images/pic-logo-hellogame-180x45.png">
                    </a>
                </div>
            </div>

            <div class="header-card__aside">
                <!-- MENU -->
                <div class="header-card__placeholder header-card__search">
                    <input type="text" class="inpSearch" placeholder="Search" id="txtsearch" >
                </div>


                <!-- UPLOAD -->
                <div class="header-card__placeholder header-card__upload">
                    <button class="btnUpload">Upload</button>
                </div>


                <!-- USER -->
                <div class="header-card__placeholder header-card__image">
                    <a href="./index.html"><img class="avatar" src="./assets/images/pic-avatar-profile.png" alt="This is you"></a>
                </div>
            </div>
            
        </header>
        <!-- HEADER END -->


    </div>
    

    
</body>
</html>