// _Fonts.scss //


@font-face {
    font-family: "AvenirNext";
    font-weight: normal;
    src: url('../../Assets/Fonts/AvenirNextLTPro.ttf');
}


@font-face {
    font-family: "ErasBoldITC";
    font-weight: normal;
    src: url('../../Assets/Fonts/ERASBD.TTF');
}