// global.scss

@use "./partials/variables" as *;
@use "./partials/fonts" as *;


* {
    box-sizing: border-box;
}


body {
    background-color: $bgcolor01;
    font-family: 'Mukta', sans-serif;
    color: $fontcolor01;

    margin: auto;
    padding: 0;
}


div.content {
    background-color: $bgcolor02;
    margin: 0px 32px;
    padding: 0;
    //width: $desktop-maxpoint;
}