// _fonts.scss //

@font-face {
    font-family: "AvenirNext";
    font-weight: normal;
    src: url('../../assets/fonts/AvenirNextLTPro.ttf');
}


@font-face {
    font-family: "ErasBoldITC";
    font-weight: normal;
    src: url('../../assets/fonts/ERASBD.TTF');
}